<p>Welcome {{user.firstName}} {{user.lastName}} </p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
    
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary btn-round pull-right" type="button"><span class="glyphicon glyphicon-plus"></span> Add Timesheet</button>
      <table class="table table-bordered table-hover dt-responsive widh100per">
        <thead class="bg-color">
          <tr>
            <th>Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Hours</th>
            <th>Project Name</th>
            <th>Task</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Argentina</td>
            <td>Spanish (official), English, Italian, German, French</td>
            <td>41,803,125</td>
            <td>31.3</td>
            <td>2,780,387</td>
            <td>2,780,387</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>