<footer class="content-info" role="contentinfo">
<div class="bottom-menu bottom-menu-inverse">
    <div class="container">
      <div class="row-fluid">
        <div class="span2 brand">
			<a class="brand" href="https://www.meetingresult.com/">
				<img src="https://www.meetingresult.com/assets/img/home/logo-inverse.png" alt="MeetingResult" class="logo">  
			</a>
        </div>
        <div class="span8">
          <ul class="bottom-links">
			<ul id="menu-footer" class="nav-footer"><li class="menu-training"><a href="https://www.meetingresult.com/resources/training/">Training</a></li>
<li class="menu-contact"><a href="https://www.meetingresult.com/contact-us/">Contact</a></li>
<li class="menu-privacy-policy"><a href="https://www.meetingresult.com/privacy-policy/">Privacy Policy</a></li>
<li class="menu-terms-of-service"><a href="https://www.meetingresult.com/tos/">Terms of Service</a></li>
</ul>          </ul>
        </div>
        <div class="span2">
          <ul class="bottom-icons">
            <li><a href="https://www.facebook.com/pages/Meetingresult/527568237261410" class="icon-facebook"></a></li>
            <li><a href="https://twitter.com/meetingresult" class="icon-twitter"></a></li>
          </ul>
        </div>
      </div>

          
      <p class="copyright">© 2017 TimeSheet 
      
<span class="by hidden-phone" style="text-transform: uppercase; font-weight: 700;font-size: .6em;position: absolute; right: 141px;">Website by<a href="#" style="background: #000000; margin-left: 7px; color: white; border-radius: 3px; padding: 1px 5px;"> Mohan R</a></span>
      
      </p>
    </div>
  </div>
</footer>