<div *ngIf="!isLoggedIn">
<nav class="navbar navbar-inverse navbar-static-top example6">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#testmo" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a rel="nofollow" class="navbar-brand text-hide" href="http://disputebills.com">Brand Text
        </a>
      </div>
      <div id="testmo" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a rel="nofollow" href="#">Home</a></li>
          <li><a rel="nofollow" href="#">About</a></li>
          <li><a rel="nofollow" href="#">Contact</a></li>
          <li><a data-toggle="modal" data-target="#loginModal" rel="nofollow" href="#">Login</a></li>
          <li class="dropdown">
            <a rel="nofollow" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Register<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a (click)="register.registerType='company'"data-toggle="modal" data-target="#registerModal" rel="nofollow" href="#">Company</a></li>
              <li><a (click)="register.registerType='freelancer'"data-toggle="modal" data-target="#registerModal" rel="nofollow" href="#">Freelancer</a></li>
              <!--<li><a rel="nofollow" href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a rel="nofollow" href="#">Separated link</a></li>
              <li><a rel="nofollow" href="#">One more separated link</a></li>-->
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

<div *ngIf="isLoggedIn">
<nav class="navbar navbar-inverse navbar-static-top example6">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#testmo" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a rel="nofollow" class="navbar-brand text-hide" href="http://disputebills.com">Brand Text
        </a>
      </div>
      <div id="testmo" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a rel="nofollow" href="/Home">Home</a></li>
          <li><a rel="nofollow" href="#">Logout</a></li>
          <li><a rel="nofollow" href="#">Timesheet</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog center-logmodal">
      <div class="login-form">
        <div class="login-top">
            <h1 class="login-header">SIGN IN</h1>
            <form (ngSubmit)="login()">
                <input type="text" id="user-name" name="email" [(ngModel)]="user.email" />
                <label for="user-name" class="input-prefix">Email</label>
                
                <input type="password" id="password" name="password" [(ngModel)]="user.password"  />
                <label for="password" class="input-prefix">Password</label>
                
                <input class="btn_submit" type="submit" id="sign-in" name="Sign-in" value="Sign in" />
                <input #cancelLog class="btn_cancel" (click)="this.user={}" data-dismiss="modal" type="button" id="cancel" name="regcancel" value="Cancel" />
            </form>
        </div>
        <div class="login-bottom">
            <a href="#" class="forgot-password">Forgot your password?</a>
        </div>
    </div>
  </div>
</div>


<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog center-regmodal">
      <div class="login-form">
        <div class="login-top">
            <h1 class="login-header">Registeration</h1>
            <form #registerForm="ngForm" (ngSubmit)="registerUser()">
                <input type="hidden" name="registerType" [(ngModel)]="register.registerType"/>
                <input type="text" id="email" name="email" [(ngModel)]="register.email" />
                <label for="emil" class="input-prefix">Email</label>
                <input type="password" id="password" name="password" [(ngModel)]="register.password" />
                <label for="password" class="input-prefix">Password</label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="register.firstName" />
                <label for="first-name" class="input-prefix">First Name</label>
                <input type="text" id="lastName" name="lastName" [(ngModel)]="register.lastName" />
                <label for="lastName" class="input-prefix">Last Name</label>
                <input type="text" id="company" name="company" [(ngModel)]="register.company" />
                <label for="company" class="input-prefix">Company</label>
                <input class="btn_submit" type="submit" id="register" name="Sign-in" value="Register" />
                <input #cancelReg class="btn_cancel" (click)="this.register={}" data-dismiss="modal" type="button" id="cancel" name="regcancel" value="Cancel" />
            </form>
        </div>
        <div class="login-bottom">
            <a href="#" class="forgot-password" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Login</a>
        </div>
    </div>
  </div>
</div>