<header class="banner navbar navbar-fixed-top" role="banner">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="https://www.meetingresult.com/">
        <img src="https://www.meetingresult.com/assets/img/logo.png" alt="MeetingResult" class="logo"><span id="name-wrap"><span id="name">TimeSheet</span></span> 
      </a>
      <nav class="nav-main nav-collapse collapse pull-right" role="navigation">
        <ul id="menu-main" class="nav"><li class="menu-software"><a href="https://www.meetingresult.com/web/">Software</a></li>
<li class="menu-pricing"><a href="https://www.meetingresult.com/sign-up/">Pricing</a></li>
<li class="menu-resources"><a href="https://www.meetingresult.com/resources/">Resources</a></li>
<li class="menu-support"><a href="http://meetingresult.zendesk.com/">Support</a></li>
<li class="menu-blog"><a href="https://www.meetingresult.com/blog/">Blog</a></li>
<li class="menu-about"><a href="https://www.meetingresult.com/about/">About</a></li>
<li class="nav-signup menu-sign-up"><a href="http://www.meetingresult.com/sign-up">Sign Up</a></li>
<li class="nav-login menu-log-in"><a href="http://cloud.meetingresult.com/login">Log in</a></li>
</ul>      </nav>
    </div>
  </div>
</header>