html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.custom_content {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.custom_content h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ccc;
  text-align: center;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.example6 .navbar-brand{ 
  background: url(https://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png) center / contain no-repeat;
  width: 200px;
}

.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}


@keyframes slidy {
0% { left: 0%; }     
30% { left: 0%; }    
33% { left: -100%; } 
63% { left: -100%; } 
66% { left: -200%; }
96% { left: -200%; }
100% { left: 0%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 33.333%; float: left; }
div#slider figure { 
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

.login-form
{
    position: relative;
    display: block;
    text-align: center;
    margin: 50px auto 0 auto;
    max-width: 400px;
    box-shadow: 0 0 20px 1px #222;
}

.login-form .login-top
{
    position: relative;
    z-index: 11;
    background-color: #FFF;
    padding: 10px 45px;
}

.login-form .login-top h1
{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 40px;
    color: #2fbee8;
    letter-spacing: -1.7px;
}

.login-form input
{
    display: block;
    font-family: Montserrat;
}

.login-form input[type="text"], .login-form input[type="password"]
{
    margin: 10px auto;
    border-radius: 3px;
    padding: 10px;
    padding-left: 100px;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px 1px #F5F5F5 inset;
    background-color: #FEFEFE;
    color: #323440;
    width: 100%;
    transition: 0.3s all;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus
{
    background-color: #f7f9fc;
}

.login-form .input-prefix
{
    position: absolute;
    font-family: Montserrat;
    font-weight: bold;
    color: #888;
    font-size: 14px;
    margin-top: -40px;
    left: 60px;
    cursor: pointer;
    transition: 0.3s all;
}

.login-form .input-prefix:after
{
    content: '';
    position: relative;
    display: block;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #0aa4d1;
    transition: 0.3s all;
}

.login-form input:focus + .input-prefix
{
    color: #0aa4d1;
}

.login-form input:focus + .input-prefix:after
{
    width: 100%;
}

@media screen and (min-width: 427px) {
.login-form input[type="submit"] , input[type="button"] 
{
    border: none;
    background-image: linear-gradient(135deg, #22bae7 70%, #10acd9);
    color: #FFF;
    font-weight: 700;
    padding: 12px 47px;
    margin: 30px auto 20px auto;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}
}

@media screen and (max-width: 426px) {
.login-form input[type="submit"] , input[type="button"] 
{
    border: none;
    background-image: linear-gradient(135deg, #22bae7 70%, #10acd9);
    color: #FFF;
    font-weight: 700;
    padding: 12px 35px;
    margin: 30px auto 20px auto;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}
}

.login-form input[type="submit"]:hover,.login-form input[type="submit"]:focus
{
    box-shadow: 0 0px 15px 2px #CCC;
}

.login-form .login-bottom
{
    z-index: 10;
    position: relative;
    padding: 20px;
    background-color: #56596a;
}

.login-form .login-bottom a
{
    color: #CCC;
    font-family: Montserrat;
    font-size: 13px;
    text-decoration: none;
}

.login-form .login-bottom a:hover
{
    text-decoration: underline;
}

.login-form .login-bottom:after
{
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    border: 30px solid transparent;
    border-bottom-color: #56596a;
    transform: rotate(-45deg);
    margin-top: -30px;
}

.login-form .company-name
{
    position: absolute;
    display: block;
    margin-top: 65px;
    left: 0;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    color: #6a6c79;
}

.login-form .company-name .company-icon
{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 7px;
    border: 3px solid #00c5ff;
    border-radius: 90px;
}

.center-logmodal{
  top:15%
}

.center-regmodal{
  top:5%; 
}

.btn_submit{
margin-right: 1% !important;
}

@media screen and (min-width: 427px) {
.btn_cancel{
margin-left: 1% !important;
margin-top: -20.4% !important;
}
}

@media screen and (max-width: 426px) {
.btn_cancel{
margin-left: 1% !important;
margin-top: -24.4% !important;
}
}

.modal.fade{
  opacity:1;
}
.modal.fade .modal-dialog {
   -webkit-transform: translate(0);
   -moz-transform: translate(0);
   transform: translate(0);
}

/*Data table*/
table caption {
	padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}

.widh100per{
    width:100% ! important;
}

.bg-color{
    background-color: #555;
    color: #fff;
}

.btn-round{
    border-radius: 25px;
}

.dataTables_filter{
    float: left! important;
}

